# ------------------------------
# 🔹 Virtual Environments
# ------------------------------
.venv/
venv/
env/
airflow_env/

# ------------------------------
# 🔹 Python Cache
# ------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# ------------------------------
# 🔹 Environment Variables
# ------------------------------
.env
.env.*
**/.env

# ------------------------------
# 🔹 Logs
# ------------------------------
logs/
*.log

# ------------------------------
# 🔹 Airflow
# ------------------------------
airflow/
airflow/logs/
airflow/*.db

# ------------------------------
# 🔹 Jupyter
# ------------------------------
.ipynb_checkpoints/

# ------------------------------
# 🔹 OS Files
# ------------------------------
.DS_Store
Thumbs.db

# ------------------------------
# 🔹 VS Code / IDE
# ------------------------------
.vscode/
.idea/

# ------------------------------
# 🔹 Temporary / Misc
# ------------------------------
*.tmp
*.bak
*.swp

# ------------------------------
# 🔹 Build / Distribution
# ------------------------------
dist/
build/
*.egg-info/

# ------------------------------
# 🔹 Test / Coverage
# ------------------------------
.coverage
htmlcov/
.pytest_cache/